@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
}
